:root {
  /* Colors */
  --color-background: #092635;
  --color-header: #1B4242;
  --color-text: white;
  --color-text-alt: #5C8374;
  --color-button: #9EC8B9;

  /* Game colors */
  --color-ship-missed: #283d3b;
  --color-ship-hidden: #197278;
  --color-ship-hit: #c44536;

}

button {
  background-color: var(--color-button);
  border: none;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
}

button:hover {
  background-color: #6a8c87;
  color: var(--color-text);
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

.App {
  text-align: center;
}

header {
  background-color: var(--color-header);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

