:root {
  --color-ship-missed: #283d3b;
  --color-ship-hidden: #197278;
  --color-ship-hit: #c44536;

  --color-background: #092635;
  --color-header: #1B4242;
  --color-text: white;

}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

.App {
  text-align: center;
}

header {
  background-color: var(--color-header);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

